# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/
*.tmp
*.bak

# Model files
models/
*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log 
